<?xml version="1.0"?>
<!--
/**
 * Equaltrue - Suvankar Paul
 *
 * This source file is subject to the Equaltrue license
 *
 * @category  Support
 * @package   Equaltrue_Support
 * @copyright Copyright (c) Equaltrue (https://equaltrue.com)
 * @author    Suvankar Paul
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Equaltrue_Support::support" title="Enhance Contact and Support" translate="title" module="Equaltrue_Support" resource="Equaltrue_Support::support" parent="Equaltrue_Core::core" action="adminhtml/system_config/edit/section/support" sortOrder="300"/>
    </menu>
</config>
